<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/css/test.css">
</head>
<body>
<div class="wrapper">
    <div class="counter"></div>
    <input type="checkbox" class="simple" data-tooltip="first"><div>1</div></input>
  <!--  <div class="test">text</div>-->
    <input type="checkbox" class="simple" data-tooltip="second"><div>2</div></input>
    <input type="checkbox" class="simple" data-tooltip="third"><div>3</div></input>
    <input type="checkbox" class="simple" data-tooltip="fourth"><div>4</div></input>
    <input type="checkbox" class="simple" data-tooltip="fifth"><div>3</div></input>
    <input type="checkbox" class="simple" data-tooltip="six"><div>4</div></input>
</div>
</body>
</html>