<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Макет #2</title>
    <link rel="stylesheet" href="../styles/css/layout3.css">
</head>
<body>
<div class="wrap">
    <div class="top">
        <div class="logo">
        </div>
        <div class="top_menu">
            <ul>
                <li class="top_menu_item"></li>
                <li class="top_menu_item"></li>
                <li class="top_menu_item"></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content_row_top"></div>
        <div class="content_row_bottom"></div>
        <div class="main_content">
            <div class="main_content_column">
                <div class="content_column_image"></div>
                <div class="content_column_text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod justo nisl. Suspendisse
                    fermentum in turpis eget elementum. Donec aliquam eleifend dolor, non venenatis nulla molestie
                    mattis. Pellentesque dolor est, blandit et ipsum sit amet, egestas ultrices est. Aenean malesuada
                    tortor sed neque dignissim, in sollicitudin enim rutrum. Sed efficitur massa et sapien volutpat
                    fringilla. Suspendisse blandit posuere sapien eu porta. Quisque commodo leo eu mauris molestie,
                    at faucibus nibh porta. Mauris feugiat lectus et eros aliquam congue. Donec congue at ex a egestas.
                    Integer dapibus nisl a quam facilisis, in accumsan purus vestibulum. Aenean consequat, lorem at
                    accumsan condimentum, massa magna maximus sapien, at facilisis magna nisi quis nunc.
                </div>
            </div>
            <div class="main_content_column">
                <div class="content_column_image"></div>
                <div class="content_column_text">    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod justo nisl. Suspendisse
                    fermentum in turpis eget elementum. Donec aliquam eleifend dolor, non venenatis nulla molestie
                    mattis. Pellentesque dolor est, blandit et ipsum sit amet, egestas ultrices est. Aenean malesuada
                    tortor sed neque dignissim, in sollicitudin enim rutrum. Sed efficitur massa et sapien volutpat
                    fringilla. Suspendisse blandit posuere sapien eu porta. Quisque commodo leo eu mauris molestie,
                    at faucibus nibh porta. Mauris feugiat lectus et eros aliquam congue. Donec congue at ex a egestas.
                    Integer dapibus nisl a quam facilisis, in accumsan purus vestibulum. Aenean consequat, lorem at
                    accumsan condimentum, massa magna maximus sapien, at facilisis magna nisi quis nunc.</div>
            </div>
            <div class="main_content_column">
                <div class="content_column_image"></div>
                <div class="content_column_text">    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod justo nisl. Suspendisse
                    fermentum in turpis eget elementum. Donec aliquam eleifend dolor, non venenatis nulla molestie
                    mattis. Pellentesque dolor est, blandit et ipsum sit amet, egestas ultrices est. Aenean malesuada
                    tortor sed neque dignissim, in sollicitudin enim rutrum. Sed efficitur massa et sapien volutpat
                    fringilla. Suspendisse blandit posuere sapien eu porta. Quisque commodo leo eu mauris molestie,
                    at faucibus nibh porta. Mauris feugiat lectus et eros aliquam congue. Donec congue at ex a egestas.
                    Integer dapibus nisl a quam facilisis, in accumsan purus vestibulum. Aenean consequat, lorem at
                    accumsan condimentum, massa magna maximus sapien, at facilisis magna nisi quis nunc.</div>
            </div>
            <div class="main_content_column">
                <div class="content_column_image"></div>
                <div class="content_column_text">    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod justo nisl. Suspendisse
                    fermentum in turpis eget elementum. Donec aliquam eleifend dolor, non venenatis nulla molestie
                    mattis. Pellentesque dolor est, blandit et ipsum sit amet, egestas ultrices est. Aenean malesuada
                    tortor sed neque dignissim, in sollicitudin enim rutrum. Sed efficitur massa et sapien volutpat
                    fringilla. Suspendisse blandit posuere sapien eu porta. Quisque commodo leo eu mauris molestie,
                    at faucibus nibh porta. Mauris feugiat lectus et eros aliquam congue. Donec congue at ex a egestas.
                    Integer dapibus nisl a quam facilisis, in accumsan purus vestibulum. Aenean consequat, lorem at
                    accumsan condimentum, massa magna maximus sapien, at facilisis magna nisi quis nunc.</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>