<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" href="../styles/css/layout4.css" rel="stylesheet">
</head>
<body>
<div class="fixed-block">
    <div class="fixed-block_content">
        Fixed content
    </div>
</div>
<section class="first-block">
    <div class="wrapper"></div>
</section>
<section class="second-block">
    <div class="wrapper"></div>
</section>
<section class="third-block">
    <div class="wrapper"></div>
</section>
</body>
</html>