@charset "utf-8";
$background_main: #ccc;
$background_block: #222;
$default-transition-duration: 1s;
$default-transition-timing: ease;
$default-transition-property: all;


$phone-width:400px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (max-width: #{$phone-width - 1px}) {
    @content;
  }
}
/*mix of phone and tablet(samsung note etc)*/
@mixin phablet {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phone-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

html, body {
  background: $background_main;
}

* {
  -webkit-transition: $default-transition-property $default-transition-duration $default-transition-timing;
  -moz-transition: $default-transition-property $default-transition-duration $default-transition-timing;
  -o-transition: $default-transition-property $default-transition-duration $default-transition-timing;
  -ms-transition: $default-transition-property $default-transition-duration $default-transition-timing;
  transition: $default-transition-property $default-transition-duration $default-transition-timing;
}

.wrap {
  position: relative;
  width: 80%;
  max-width: 960px;
  margin: 20px auto;
  overflow: hidden;
}

.big, .s-block, .logo, .logo:before, .top_menu_item, .content_row_top, .content_row_bottom, .content_column_image, .b-list, .ava, .t-block, .block {
  background: $background_block;
}